# Your OpenAI API Key. If GPT-4 is available it will use that, otherwise will use 3.5-turbo
OPENAI_API_KEY=api_key_goes_here

# Path to the database file
DB_PATH=/path/to/your/chat.db

# Base file name for the generated PDF
PDF_BASE_FILE_NAME=Your_PDF_Base_File_Name

# Focus group data in JSON format
FOCUS_GROUP={"\"+1234567890\": \"John Doe\", \"+1987654321\": \"Jane Smith\"}

# - Color Options -
# BLACK
MAIN_COLOR_HEX=000000
# GOLD
SECONDARY_COLOR_HEX=B8860B